/* Styles for the hero section */

.hero-section {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9),
      rgba(8, 83, 156, 0.9)
    ),
    url("C:\My Files\Facultate\pi\PI\client\public\Icons\3820574.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

/* Styles for the heading */
.hero-heading {
  font-size: 3rem; /* Adjust font size */
  margin-bottom: 20px;
  opacity: 1;
  color: #fff;
}

/* Styles for the subheading or description */
.hero-subheading {
  font-size: 1.5rem; /* Adjust font size */
  margin-bottom: 30px;
}

/* Styles for the call-to-action button */
.hero-button {
  padding: 10px 20px;
  background-color: #3498db; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem; /* Adjust font size */
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #2980b9; /* Change button color on hover */
}

.heading-section {
  padding: 20px 0; /* Add padding top and bottom as needed */
  text-align: center; /* Center align the text */
}
