.container-custom {
  width: 40%;
  color: white;
  /* Adjust the background color to match your theme */
  border-radius: 5px;
  padding: 10px;
  margin: auto; /* Center align the container */
}

.page-heading {
  font-size: 2.5em; /* Large text size for heading */
  color: #ffffff; /* White color text for visibility against the dark background */
  text-align: center; /* Center the heading text */
  margin-top: 20px; /* Space at the top */
  margin-bottom: 10px; /* Space below before the content starts */
  font-weight: bold; /* Make the font bold */
  position: relative; /* For pseudo-element positioning */
}

.page-heading::after {
  content: "";
  display: block;
  width: 100px; /* Length of the underline */
  height: 4px; /* Thickness of the underline */
  background: #4aaee8; /* Choose a color for the underline */
  margin: 0 auto; /* Center the block */
  margin-top: 10px; /* Space between text and underline */
}

.subheading {
  font-size: 1.2em;
  color: #c0c0c0; /* Lighter color for subheading */
  text-align: center;
  margin-bottom: 10px; /* More space below the subheading */
  font-weight: normal; /* Less emphasis on subheading */
}

.lead-text {
  font-size: 1em;
  color: #d0d0d0; /* Slightly lighter than the subheading for hierarchy */
  text-align: center;
  max-width: 600px; /* Don't let the text span the full width of the page */
  margin-left: auto; /* Center the block */
  margin-right: auto;
  margin-bottom: 20px; /* Space before the main content starts */
}

.password-wrapper {
  width: 100%;
  height: 50px;
}

.password-area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.password-area .password {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
}

.password-area .password input {
  width: 90%;
  height: 100%;
  font-size: 20px;
  background: #ffffff; /* Adjust background color for contrast */
  color: #333; /* Choose a color that is easily readable */
  line-height: 50px;
  border-radius: 5px;
  border: 2px solid #255e98; /* Add a border to match the theme */
  outline: none;
  padding: 0 60px 0 20px;
}

.password-area .password .copyIcon {
  position: absolute;
  right: 0;
  top: 50%;
  width: 20px;
  padding: 12px;
  transform: translate(0, -50%);
  background: #ffffff; /* Adjust to match button color */
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.password-strength-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Styling for the password score */
.password-score {
  font-size: 1em;
  color: #ffffff; /* Dark color for text */
  font-weight: bold;
}

/* Styling for the estimated time to crack */
.time-to-crack {
  font-size: 1em;
  color: #ffffff; /* Dark color for text */
  font-weight: bold;
}

.setting {
  margin: 20px 0;
  display: block;
  align-items: center;
  text-align: center;
}

.customize .checkboxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.password-lenght {
  display: grid;
}

.left,
.right {
  width: fit-content;
}

.customize .right {
  margin-left: 30px;
}

.customize .checkboxes .checkbox-field {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.customize .checkboxes .checkbox-field input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.customize .checkboxes .checkbox-field label {
  line-height: 20px;
  color: #f0f0f0; /* Light color for readability */
}

.password-length {
  display: flex;
  align-items: center; /* This will vertically align the child elements in the middle */
  justify-content: space-between; /* This will space out the child elements evenly */
  width: 100%; /* Ensure the span takes up the full width */
}

.password-length h3 {
  margin-right: 20px; /* Add some margin to the right of the h3 for spacing */
  white-space: nowrap; /* Prevent the title from wrapping */
}

.slider {
  display: flex;
  align-items: center; /* Aligns the slider and range value vertically in the center */
  width: auto; /* Auto width to only take up necessary space */
}

.rangeValue {
  font-size: 24px;
  font-weight: 600;
  margin-right: 10px; /* Margin to the right of the range value for spacing */
}

.range input[type="range"] {
  cursor: pointer; /* Changes the cursor to indicate the range is draggable */
}
.buttons {
  margin-top: 20px;
  display: flex;
  align-items: center; /* This will vertically align the buttons in the middle */
  justify-content: center; /* This will horizontally center the buttons in the div */
}

.buttons button {
  padding: 10px 25px; /* Adjust padding to increase the size of the button */
  font-size: 14px; /* Adjust font-size as needed */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  background: #007bff; /* Blue background */
  color: white; /* White text color */
  text-transform: uppercase; /* Uppercase text */
  font-weight: bold; /* Bold font weight */
  cursor: pointer; /* Cursor changes to pointer to indicate it's clickable */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Box shadow for 3D effect */
  margin: 0 10px; /* 10px margin on left and right */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.buttons button:first-child {
  margin-left: 0; /* No left margin for the first button */
}

.buttons button:last-child {
  margin-right: 0; /* No right margin for the last button */
}

.buttons button:hover {
  background: #0056b3; /* Darker blue background on hover */
}

.buttons button:active {
  background: #004080; /* Even darker blue background to simulate click */
  box-shadow: none; /* No shadow to simulate click */
  transform: translateY(1px); /* Slight move down to simulate click */
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
  .container-custom {
    width: 90%; /* Adjust for smaller screens */
  }
}

@media only screen and (max-width: 768px) {
  .container-custom {
    width: 80%; /* Adjust for medium screens */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container-custom {
    width: 70%; /* Adjust for large screens */
  }
}

@media (min-width: 1025px) and (max-width: 1300px) {
  .container-custom {
    width: 60%; /* Adjust for extra-large screens */
  }
}
/*///////////////////////////// password strenght //////////////////////*/
.password-input {
    width: 100%;
    padding: 30px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
  }
  .password-strength-indicator {
    width: 100%;
    background: #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 10px;
    position: relative;
  }
  .password-strength-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    margin: 30px;
  }
  
  .password-strength-score {
    color: #ffffff;
  }
  
  .password-strength-time {
    color: #ffffff;
  }
  .password-strength-test-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }