.container-custom {
    width: 40%;
    color: white;
    background: #255e98; /* Adjust the background color to match your theme */
    border-radius: 5px;
    padding: 30px;
    margin: 20px auto; /* Center align the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for depth */
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px; /* Adjust the font size as needed */
}

.password-wrapper {
    width: 100%;
    height: 50px;
}

.password-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.password-area .password {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
}


.password-area .password input {
    width: 90%;
    height: 100%;
    font-size: 20px;
    background: #caf0f8; /* Adjust background color for contrast */
    color: #333; /* Choose a color that is easily readable */
    line-height: 50px;
    border-radius: 5px;
    border: 2px solid #255e98; /* Add a border to match the theme */
    outline: none;
    padding: 0 60px 0 20px;
}

.password-area .password .copyIcon {
    position: absolute;
    right: 0;
    top: 50%;
    width: 20px;
    
    padding: 12px;
    transform: translate(0, -50%);
    background: #CAF0F8; /* Adjust to match button color */
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.password-strength-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff; /* Adjust the color as per your theme */
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow */
  }
  
  /* Styling for the password score */
  .password-score {
    font-size: 1em;
    color: #333; /* Dark color for text */
    font-weight: bold;
  }
  
  /* Styling for the estimated time to crack */
  .time-to-crack {
    font-size: 1em;
    color: #333; /* Dark color for text */
    font-weight: bold;
  }
 

.setting {
    margin: 20px 0;
}

.customize .checkboxes {
    display: flex;
}

.left, .right {
    width: fit-content;
}

.customize .right {
    margin-left: 30px;
}

.customize .checkboxes .checkbox-field {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.customize .checkboxes .checkbox-field input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.customize .checkboxes .checkbox-field label {
    line-height: 20px;
    color: #f0f0f0; /* Light color for readability */
}

.slider .rangeValue {
    font-size: 22px;
    color: #333;
}

.buttons button {
    background-color: #f9ab55; /* Match your theme color */
    color: white; /* Adjust text color for visibility */
}

/* Responsive Design */
@media only screen and (max-width:600px) {
    .container-custom {
        width: 90%; /* Adjust for smaller screens */
    }
}

@media only screen and (max-width:768px) {
    .container-custom {
        width: 80%; /* Adjust for medium screens */
    }
}

@media (min-width: 769px) and (max-width:1024px) {
    .container-custom {
        width: 70%; /* Adjust for large screens */
    }
}

@media (min-width: 1025px) and (max-width:1300px) {
    .container-custom {
        width: 60%; /* Adjust for extra-large screens */
    }
}
